.container{
    width: 1170px;
    margin: 0 auto;
    
}

.S-1{
    margin-top: 30px;
    margin-bottom: 51px;
    height: 129px;
    
}

.S-1 h2{
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    font-style: normal;
    text-align: left;
    color: #5863f8;
}

.S-1 p{
    font-size: 42px;
    font-weight: 400;
    line-height: 56px;
    font-style: normal;
    text-align: left;
    color: #000000;
}
.myclass{
    display: inline;
}

.myform{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    

}
.form1 input[type=text]{
    width: 720px;
    height: 288px;
    background-color:#F8F8F8 ;
    border:2px solid #E8E8E8 ;

}

.form1{
    margin-right: 16px;
    display: flex;
    align-items: flex-start;
}

.formsection{
    height:288px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form2 input[type=text]{
    width: 352px;
    height: 60px;
    background-color: #F8F8F8 ;
    border:2px solid #E8E8E8 ;
    margin-bottom: 16px;
    

}

.form2 input[type=email]{
    width: 352px;
    height: 60px;
    background-color:#F8F8F8 ;
    border:2px solid #E8E8E8 ;
    
}

input[type=submit]{
    width: 352px;
    height: 60px;
    background-color:#5863f8 ;
    border-color: #5863f8;
    font-size: 14px;
    font-weight: 400;
    line-height: 56px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}

.S-2{
    margin-top: 390px;
    display: flex;
    flex-direction: row;
}

.image1{
    width: 58px;
    height: 58px;
    background-color: #5863F8 ;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    border-radius: 50px;
    margin-bottom: 20px;

}

.card{
    width: 363px;
    height: 147px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card h2{
    margin-bottom: 9px;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    font-style: normal;
    text-align: center;
    color: #000000;
}

.card p{
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    font-style: normal;
    text-align: center;
    color: #b1b1b1;
}

.S-3{
    display: flex;
    justify-content: space-around;
}

footer{
    background-color: #121212;
    height:395px ;
    margin-top: 10px;
}
.F-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.raviaba{
    display: flex;
    display: row;
}

.mydiv{
    width: 261px;
    height: 182px;
    margin-top: 100px;
    margin-right: 200px;
    
}

.mydiv h2{
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom: 27px;
    margin-bottom: 25px;
   
}

.mydiv p{
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    font-style: normal;
    text-align: left;
    color: #b1b1b1;
    margin-bottom: 20px;
}

.mydiv2 h2{
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom: 25px;
}

.mydiv2{
    margin-top: 100px;
}

.mydiv2 li{
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    font-style: normal;
    text-align: left;
    color: #5863f8;
}

.mydiv3{
    margin-top: 100px;
}

.mydiv3 h2{
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom: 25px;
}

.mydiv3 li{
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}

li{
    margin-bottom: 16px;
}

.mydiv4{
    display: flex;
    flex-direction: row;
}

.mydiv5{
    display: flex;
    flex-direction: column;
}

.mydiv5 img{
    margin-bottom: 11px;
    margin-right: 5px;
}